/*-------------Global Styling-----------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.3;
}

h2,
button,
a {
  font-size: 2rem;
}

/*---------------Project Styling--------------*/
main {
  height: 100vh;
  width: 100vw;
  background: pink;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 40vw;
  height: 30vh;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#counter-value {
  font-size: 5rem;
}

.container-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  background: transparent;
  color: black;
  transition: all 0.3s ease;
}

.btn:hover {
  color: white;
  border: 2px solid white;
}
